services:
  db:
    image: postgres:15
    container_name: lab5-db
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: lab5-app
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://user:pass@db:5432/app_db
    ports:
      - "8000:8000"
    volumes:
      - .:/app

volumes:
  postgres_data: